
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
          <h1>Trello PAW</h1>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item">
                    <button class="btn navbar-btn glyphicon glyphicon-home btn-primary-outline btn-space" routerLink="table"></button></li>
                <li class="nav-item">
                        <button class="btn navbar-btn btn-primary-outline btn-space" routerLink="content">Content</button></li>
                <li class="nav-item">
                    <button class="btn navbar-btn btn-primary-outline btn-space" routerLink="login">Log in</button></li>
                <li class="nav-item">
                    <button class="btn navbar-btn btn-primary-outline btn-space" routerLink="register">Register</button></li>
                <li class="nav-item">
                    <button class="btn navbar-btn btn-primary-outline btn-space" routerLink="creation">Create table</button></li>
                <li class="nav-item">
                    <button class="btn navbar-btn btn-primary-outline btn-space" routerLink="management">Management</button></li>
            </ul>
            <div class="plusright">
            <ul class="nav navbar-nav navbar-right">
               <li class="nav-item">
                           <p id="username">Username </p></li>
                <li class="nav-item">
                  <button class="btn navbar-btn glyphicon glyphicon-plus btn-primary-outline btn-right" routerLink=""></button></li>
                </ul>
              </div>
        </div>
</nav>

<router-outlet></router-outlet>
