.navbar{
    background:rgba(0,0,0,0.3);
    height:30px;
    width: auto;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}
.btn-primary-outline {
  background-color: rgba(255,255,255,0.2);
  font-weight: bold;
}

.button{
      font-family: Arial;
}

.btn-space {
    margin-right: 10px;
}
.plusright {
    margin-right: -500px;
}

.nav-link{
  opacity: 1;
  color:white !important;
}

.container{
  float:left;
}

h1{
  font-family: Apple Chancery, cursive;
  font-style: oblique;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-left: 45%;
  position: absolute;
  color: white;
  opacity: 0.5;
}
