<br><br><br>
<h4>Create new table</h4>

<div class="container">
    <form (submit)="createNewTable($event)">
      <div class="form-group">
        <label for="email">Input name of table : </label>
        <input type="email" class="form-control" id="newName" placeholder="Enter table name ">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  <div class="container">
    <form (submit)="createNewList($event)">
      <div class="form-group">
        <label for="email">Dodaj nową listę : </label>
        <input type="email" class="form-control" id="newNameList" placeholder="Enter list name">
      </div>
      <button type="submit" class="btn btn-primary">Create new list</button>
    </form>
  </div>
  
