<br><br><br>
<div class="container">
    <form (submit)="changeListPostion($event)">
      <div class="form-group">
        <label for="email">Podaj id listy</label>
          <input type="email" class="form-control" id="id_" placeholder="">
        <label for="email">Podaj nową pozycję listy</label>
        <input type="email" class="form-control" id="newPosition" placeholder="">
      </div>
      <button type="submit" class="btn btn-primary">Zmień pozycję listy</button>
    </form>
  </div>
  <div class="container">
      <form (submit)="changeCardPostion($event)">
        <div class="form-group">
          <label for="email">Podaj id karty</label>
          <input type="email" class="form-control" id="card_id" placeholder="">
          <label for="email">Podaj nową pozycję karty</label>
          <input type="email" class="form-control" id="card_new_position" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Zmień pozycję karty</button>
      </form>
    </div>
    <div class="container">
        <form (submit)="archiveCard($event)">
          <div class="form-group">
            <label for="email">Podaj id karty</label>
            <input type="email" class="form-control" id="card_id_archive" placeholder="">
          </div>
          <button type="submit" class="btn btn-primary">Zarchiwizuj kartę</button>
        </form>
      </div>
      <div class="container">
          <form (submit)="copyCard($event)">
            <div class="form-group">
              <label for="email">Podaj id karty</label>
              <input type="email" class="form-control" id="card_id_copy" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Kopiuj kartę</button>
          </form>
        </div>
        <div class="container">
            <form (submit)="updateTableName($event)">
              <div class="form-group">
                <label for="email">Wpisz id tablicy</label>
                <input type="email" class="form-control" id="table_id_update" placeholder="">
                <label for="email">Wpisz nazwę tablicy</label>
                <input type="email" class="form-control" id="table_name_update" placeholder="">
              </div>
              <button type="submit" class="btn btn-primary">Zmień nazwę tablicy</button>
            </form>
          </div>
          <div class="container">
              <form (submit)="observeCard($event)">
                <div class="form-group">
                  <label for="email">Wpisz id karty</label>
                  <input type="email" class="form-control" id="card_id_observe" placeholder="">
    
                </div>
                <button type="submit" class="btn btn-primary">Obserwuj kartę</button>
              </form>
            </div>
            <div class="container">
                <form (submit)="deleteComment($event)">
                   <div class="form-group">
                     <label for="email">Wpisz id komentarza</label>
                    <input type="email" class="form-control" id="comment_id" placeholder="">
                   </div>
                     <button type="submit" class="btn btn-primary">Usuń komentarz</button>
                 </form>
               </div>